h1{
    background-color: rgb(53, 128, 241);
    margin: 0%;
    padding: 0%;
}
div{
    background-color: lightsteelblue;
    margin: 0%;
    padding: 0%;
}
body{
    background-color: rgb(185, 236, 245);
    margin: 0%;
    padding: 0%;
}