table,tr, td{
    border: 1px solid green;
}

th{
    border: 1px solid green;
    background-color: green;
    color: white;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: red;
}